*.coverage
*.pyc
*.pyo
.*.swp
cvbank/backends/
cvbank/media/*/
cvbank/core/local_data.py
cvbank/core/local_settings.py
cvbank/locale/*/*/*.mo
cvbank/apps/search_form/locale/*/*/*.mo
cvbank/projects/frontoffice/celeryev.pid
cvbank/static/css/pdf.min.css
cvbank/static/css/style.min.css
cvbank/static/css/style-ie6.min.css
cvbank/static/css/style-ie7.min.css
cvbank/static/css/style-ie8.min.css
cvbank/static/css/style-ie9.min.css
cvbank/static/js/cvbank.js
cvbank/static/js/cvbank.min.js
doc/sphinx/build/
log/*
run/*
