<!DOCTYPE html>
<html>
  <head>
    <title>J'embauche</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{STATIC_URL}}css/bootstrap-custom.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap-glyphicons.css" rel="stylesheet">
    <style>
      body {
          padding-top: 60px;
          padding-bottom: 170px;
      }
      .starter-template {
        padding: 40px 15px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="{{STATIC_URL}}logo_white_border.png" height="20px"/></a>
        <div class="nav-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Accueil</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <div class="container">

      {% block content %}
        Your content in here !
      {% endblock %}

      <div class="navbar navbar-fixed-bottom">
        <p class="navbar-text text-center">
         <img src="{{ STATIC_URL }}logo_black_border.png" height="20px" / >
          est un service édité par 
         <a href="http://www.multiposting.fr/fr">
          <img src="http://files.multiposting.fr/static/images/logos/multiposting/multiposting-logo-s.jpg" height="20px">
         </a>
         <br/>
         Leader européen des solutions en ligne de recrutement
        </p>
     </div>
    </div>

    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    {% block extra_footer %}{% endblock %}
  </body>
</html>
