{% extends 'base.html' %}
{% block content %}
<div class="row well">
  <div class="col-lg-4">
    <legend>Je recherche ...</legend>
    <h3 style="color:#ff6508" class="text-center">{{ job.title }}</h3>
    <h4 class="text-center">{{ job.contract}}</h4>
    <h4 class="text-center">&Agrave; {{ job.location_city }} ({{ job.location_province}})</h4>
    <br/>
    <legend>Options de diffusion</legend>
    <h4>Mon annonce pour <span id="price" style="color:#ff6508">{{ price }}</span> €</h4>
    <ul>
        <li>Diffusion standard sur les sites gratuits</li>
        {% if options.schools %}<li id="schools">Diffusion sur les &eacute;coles proches de {{ job.location_city }}</li>{% endif %}
        {% if options.pe %}<li id="pe">Diffusion sur P&ocirc;le Emploi</li>{% endif %}
        {% if options.monster %}<li id="monster">Diffusion sur Monster</li>{% endif %}
        {% if options.keljob %}<li id="keljob">Diffusion sur Keljob </li>{% endif %}
        {% if options.rjobs %}<li id="rjobs">Diffusion sur R&eacute;gion Jobs</li>{% endif %}
    </ul>
  </div>
  <div class="col-lg-8">
      <form class="form-horizontal" action="{% url end job_id=job.id %}" method="post">
       <legend>Je suis ...</legend>
       <div class="col-lg-6">
         <div class="form-group col-lg-11 {% if contact_form.name_company.errors %}has-error{% endif %}">
           <label for="{{ contact_form.name_company.id }}" class="control-label">{{ contact_form.name_company.label }}*</label>
           {{ contact_form.name_company }}
           {% if contact_form.name_company.errors %}<span class="help-block">{{ contact_form.name_company.errors }}</span>{% endif %}
         </div>
       </div>
       <div class="col-lg-6">
         <div class="form-group col-lg-11 {% if contact_form.num_employees.errors %}has-error{% endif %}">
           <label for="{{ contact_form.num_employees.id }}" class="control-label">{{ contact_form.num_employees.label }}*</label>
           {{ contact_form.num_employees }}
           {% if contact_form.num_employees.errors %}<span class="help-block">{{ contact_form.num_employees.errors }}</span>{% endif %}
         </div>
       </div>
       <div class="col-lg-6">
         <div class="form-group col-lg-11 {% if contact_form.contact_givenname.errors %}has-error{% endif %}">
           <label for="{{ contact_form.contact_givenname.id }}" class="control-label">{{ contact_form.contact_givenname.label }}*</label>
           {{ contact_form.contact_givenname }}
           {% if contact_form.contact_givenname.errors %}<span class="help-block">{{ contact_form.contact_givenname.errors }}</span>{% endif %}
         </div>
       </div>
       <div class="col-lg-6">
         <div class="form-group col-lg-11 {% if contact_form.contact_lastname.errors %}has-error{% endif %}">
           <label for="{{ contact_form.contact_lastname.id }}" class="control-label">{{ contact_form.contact_lastname.label }}*</label>
           {{ contact_form.contact_lastname }}
           {% if contact_form.contact_lastname.errors %}<span class="help-block">{{ contact_form.contact_lastname.errors }}</span>{% endif %}
         </div>
       </div>
       <div class="col-lg-6">
         <div class="form-group col-lg-11 {% if contact_form.email.errors %}has-error{% endif %}">
           <label for="{{ contact_form.email.id }}" class="control-label">{{ contact_form.email.label }}*</label>
           {{ contact_form.email }}
           {% if contact_form.email.errors %}<span class="help-block">{{ contact_form.email.errors }}</span>{% endif %}
         </div>
       </div>
       <div class="col-lg-6">
         <div class="form-group col-lg-11 {% if contact_form.confirm_email.errors %}has-error{% endif %}">
           <label for="{{ contact_form.confirm_email.id }}" class="control-label">{{ contact_form.confirm_email.label }}*</label>
           {{ contact_form.confirm_email }}
           {% if contact_form.confirm_email.errors %}<span class="help-block">{{ contact_form.confirm_email.errors }}</span>{% endif %}
         </div>
       </div>
       <div class="col-lg-6">
         <div class="form-group col-lg-11 {% if contact_form.phone_contact.errors %}has-error{% endif %}">
           <label for="{{ contact_form.phone_contact.id }}" class="control-label">{{ contact_form.phone_contact.label }}*</label>
           {{ contact_form.phone_contact }}
           {% if contact_form.phone_contact.errors %}<span class="help-block">{{ contact_form.phone_contact.errors }}</span>{% endif %}
         </div>
       </div>
       <div class="col-lg-12" style="margin-bottom: 15px">
         <label for="" class="control-label">N° de VISA*</label>
         <input type="text" class="form-control">
       </div>
         <br/>
         <br/>
       <legend>Obtenir une offre Premium gratuite</legend>
       <p>Vous connaissez une personne que <strong>J'Embauche &copy;</strong> pourrait int&eacute;resser ? Parrainnez-l&agrave; et obtenez un code cadeau !
       <div class="col-lg-6">
         <label for="id_contact1" class="control-label">Email</label>
         <input type="text" class="form-control" name="contact1" id="id_contact1">
       </div>
       <div class="col-lg-6">
         <label for="id_contact2" class="control-label">Email</label>
         <input type="text" class="form-control" name="contact1" id="id_contact2">
       </div>
       {% csrf_token %}
         <br/>
       <div class="col-lg-12">
         <legend/>
         <button type="submit" class="btn btn-default pull-right">Valider</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
