{% extends 'base.html' %}
{% load url from future %}

{% block content %}
<div class="row">
  <div class="col-lg-6 well">
      <form id="offerForm" method="post" class="form-horizontal" action="{% url 'options' %}">
      {% csrf_token %}
      <fieldset>
        <legend>Je recherche ...</legend>
         <div class="form-group col-lg-8 {% if offer_form.name_company.errors %}has-error{% endif %}">
              <label for="{{ offer_form.name_company.id }}" class="control-label">{{ offer_form.name_company.label }}*</label>
              {{ offer_form.name_company }}
              {% if offer_form.name_company.errors %}<span class="help-block">{{ offer_form.name_company.errors }}</span>{% endif %}
          </div>
          <div class="form-group col-lg-8 {% if offer_form.localisation.errors %}has-error{% endif %}">
              <label for="{{ offer_form.localisation.id }}" class="control-label">{{ offer_form.localisation.label }}*</label>
              {{ offer_form.localisation }}
              {% if offer_form.localisation.errors %}<span class="help-block">{{ offer_form.localisation.errors }}</span>{% endif %}
          </div>
          <div class="form-group col-lg-6 {% if offer_form.function.errors %}has-error{% endif %}" style="margin-left: 15px;">
            <label for="{{ offer_form.contract.id }}" class="control-label">{{ offer_form.contract.label }}*</label>
            {{ offer_form.contract }}
            {% if offer_form.contract.errors %}<span class="help-block">{{ offer_form.contract.errors }}</span>{% endif %}
        </div>
         <div class="form-group col-lg-6 {% if offer_form.function.errors %}has-error{% endif %}">
              <label for="{{ offer_form.function.id }}" class="control-label">{{ offer_form.function.label }}*</label>
              {{ offer_form.function }}
              {% if offer_form.function.errors %}<span class="help-block">{{ offer_form.function.errors }}</span>{% endif %}
          </div>
          <div class="form-group col-lg-6 {% if offer_form.industry.errors %}has-error{% endif %}" style="margin-left: 15px;">
              <label for="{{ offer_form.industry.id }}" class="control-label">{{ offer_form.industry.label }}*</label>
              {{ offer_form.industry }}
              {% if offer_form.industry.errors %}<span class="help-block">{{ offer_form.industry.errors }}</span>{% endif %}
          </div>
          <div class="form-group col-lg-12 {% if offer_form.title.errors %}has-error{% endif %}">
              <label for="{{ offer_form.title.id }}" class="control-label">{{ offer_form.title.label }}*</label>
              {{ offer_form.title }}
              {% if offer_form.title.errors %}<span class="help-block"> {{ offer_form.title.errors }} </span>{% endif %}
          </div>
          <div class="form-group col-lg-12 {% if offer_form.description.errors %}has-error{% endif %}">
              <label for="{{ offer_form.description.id }}" class="control-label">{{ offer_form.description.label }}*</label>
              {{ offer_form.description }}
              {% if offer_form.description.errors %}<span class="help-block">{{ offer_form.description.errors }}</span>{% endif %}
          </div>
          <div class="form-group col-lg-12">
            <button type="submit" class="btn btn-default">Publier</button>
          </div>
      </fieldset>
      {{ offer_form.localisation_code }}
      {{ offer_form.localisation_city }}
      {{ offer_form.localisation_province }}
      {{ offer_form.localisation_country }}
    </form>
  </div>
  <div class="col-lg-6">
    <p class="text-center">
      <img src="{{ STATIC_URL }}logo_black_border.png" height="70px" class="img-thumbnail"/>
    </p>
    <br/>
    <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;TPE et PME</h4>
    <p>
     Vous aussi accédez à des outils de recrutement de qualité.
    </p>
    <br/>
    <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;Diffusez en un clic sur plus de dix sites de recrutement</h4>
    <p>
      <table class="table table-striped">
        <tbody>
          <tr>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/le_bon_coin.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/vivastreet.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/indeed.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/trovit.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/jobrapido.jpg" height="20px"> </a>
          </tr>
          </tr>
          <tr>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/simply_hired.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/rue_de_lemploi.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/olx.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/yakaz.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/pole_emploi.jpg" height="20px"> </a>
          </tr>
          <tr>
          <tr>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/monster.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/keljob.jpg" height="20px"> </a>
              <td> <a href ="http://www.leboncoin.fr/"> <img src="{{ STATIC_URL }}jobboards_logos/regions_job.jpg" height="20px"> </a>
          </tr>
        </tbody>
      </table>
    </p>
    <br/>
    <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;Trouvez des candidats et gagnez en visibilité grâce aux réseaux sociaux</h4>
    <p>
     Insert logos.
    </p>
    <br/>
    <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;Recrutez sur les écoles qui vous correspondent autour de chez vous</h4>
    <br/>
    <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;Ils nous soutiennent !</h4>
    <p>
     Insert logos.
     </p>
     <br/>
     <h4><span class="glyphicon glyphicon-ok"></span>&nbsp;Besoin d'aide pour un recrutement de qualité ? Nos conseillers sont à votre écoute :</h4>
     <p>
     Insert logos.
     </p>
 </div>
</div>
{% endblock %}
{% block extra_footer %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<style>
    .ui-autocomplete-loading {
        background: white url('http://jqueryui.com/resources/demos/autocomplete/images/ui-anim_basic_16x16.gif') right center no-repeat;
    }
</style>
<script type="text/javascript">

$(function() {
    function register(data) {
        $('#id_localisation_country').val(data.country);
        $('#id_localisation_code').val(data.code);
        $('#id_localisation_province').val(data.province);
        $('#id_localisation_city').val(data.city);
    }

    $( "#id_localisation" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "http://ws.geonames.org/searchJSON",
          dataType: "jsonp",
          data: {
            lang: "fr",
            country: "FR",
            featureClass: "P",
            style: "full",
            maxRows: 12,
            name_startsWith: request.term
          },
          success: function( data ) {
            response( $.map( data.geonames, function( item ) {
              return {
                label: item.name + (item.adminName1 ? ", " + item.adminName1 : ""),
                value: item.name,
                code: item.geonameId,
                country: item.countryCode,
                province: item.adminCode2,
                city: item.name
              }
            }));
          }
        });
      },
      minLength: 2,
      select: function( event, ui ) {
        register(ui.item);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });

</script>
{% endblock %}
